{% load djng_tags %}
{% load staticfiles %}

{# Load the bootsptrap tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{#% bootstrap_javascript %#}
<!DOCTYPE html>
<html ng-app="yagpa">
    <head>
        <title>YAGPA</title>
        <link rel=stylesheet href="{% static 'css/style.css' %}" type="text/css" />
    </head>

    <body ng-controller="baseCtrl">
	
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
    
    {% block content %}
        {% block tournament %}{% endblock tournament %}
        {% block form %}{% endblock form %}
    {% endblock content %}
    </body>
    
    <script type="text/javascript" src="{% static 'scripts/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/controllers.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/services.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/angular-cookies.js' %}"></script>
</html>