{% extends "base.html" %}
{% block form %}
	{# Load the tag library #}
	{% load bootstrap3 %}
	
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{#% bootstrap_javascript %#}
	
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}

    <form name="{{ form.form_name }}" action="/management/new/" method="post" class="form">
        {% csrf_token %}
        {{form.as_p }}
        {% buttons %}
        	<button type="submit" class="btn btn-primary" ng-click="submit($event)">
        		{% bootstrap_icon "star" %} Submit
    		</button>
       	{% endbuttons %}
    </form>
{% endblock form %}